---
import Layout from "../../../../layouts/Layout.astro";
import OverviewLayout from "../../../../components/overview/OverviewLayout.astro";
import OverviewHeader from "../../../../components/overview/OverviewHeader.astro";
import OverviewStructure from "../../../../components/overview/OverviewStructure.astro";
import { useTranslations, useLocalePath } from "../../../../i18n/utils.js";
import { getCourses, getModules, type ModuleListItem } from "../../../../data/courses.js";
import { getCourseOverview } from "../../../../data/overview.js";

export function getStaticPaths() {
	const paths: { params: { lang: string; id: string } }[] = [];
	for (const lang of ["en", "fr"] as const) {
		const courses = getCourses(lang);
		for (const c of courses) {
			paths.push({ params: { lang, id: c.id } });
		}
	}
	return paths;
}

const lang = Astro.params.lang as "en" | "fr";
const id = Astro.params.id!;
const t = useTranslations(lang);
const localePath = useLocalePath(lang);

const overview = getCourseOverview(id, lang);
if (!overview) {
	return Astro.redirect(localePath("/courses"));
}

const modules = getModules(lang);
const moduleTitles = new Map(modules.map((m: ModuleListItem) => [m.id, m.title]));

const firstChapter = overview.content.chapters[0];
const firstLessonId = firstChapter?.lessons[0]?.id;
const startHref = firstLessonId
	? localePath(`/courses/${id}/lessons/${firstLessonId}`)
	: "#";
const lessonBaseUrl = localePath(`/courses/${id}/lessons`);
---
<Layout>
	<OverviewLayout>
		<div class="l">
			<OverviewHeader overview={overview} t={t} startHref={startHref} />
		</div>
		<div class="r">
			<OverviewStructure
				chapters={overview.content.chapters}
				groupByModule={true}
				moduleTitles={moduleTitles}
				lessonBaseUrl={lessonBaseUrl}
				t={t}
			/>
		</div>
	</OverviewLayout>
</Layout>
